#### SMS Spam Collection

The following notebook performs the exploratory analysis of the spam collection
dataset

In [29]:
import pandas as pd
import os
import matplotlib.pyplot as plt

1. Load and look at the data

In [31]:
root = '/home/spacepanda/workspace/projects/classical-ml/'
dataset_path = 'datasets/spam.csv'
df = pd.read_csv(
    os.path.join(root, dataset_path), sep='\t', header=None, names=['Label','SMS'])

In [32]:
df.head(5)

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [33]:
df.tail(5)

     Label                                                SMS
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

The dataset is a sample of the total population of all SMS messages written in English and labeled as either spam or no-spam (ham). We assume that it well represents the population and that the sampling procedure is acceptable for the research purposes.

We are dealing with text sequences that are mapped to a single category. Each variable is categorical qualitative (each SMS is sampled from the population of all SMS messages written in English, thus we can assume the existence of finite number of states).

Each example in this dataset follows some unknown probability distribution. Considering that all variables are categorical, this is the joint distribution of discrete variables SMS and label:

<iframe src="https://math.embed.fun/embed/3V7XVRXpnHSgRdozrQwjvq" frameborder="0" width="200" height="143"></iframe>

In [35]:
# Let's give pandas a chance to provide any valuable information about dataset

df.describe()

       Label                     SMS
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

2. Collect statistics per class

We are dealing with text corpa classified into different categories.

In [11]:
# num of examples per class

unique_classes = set(df['Label'])
num_per_class = {}
for c in unique_classes:

{'ham', 'spam'}